<div class="item">
    @if (!isEdit) {
        <div class="checkbox">
            <input
                tuiCheckbox
                type="checkbox"
                size="s"
                [formControl]="statusControl"
            />
        </div>
        <div 
            class="item-text"
            (click)="outSelecteEmitter()"
            (dblclick)="outEditEmitter()"
        >
            <span [style]="{fontWeight: 600}">{{ item.text }}</span>
        </div>
        <ui-button 
            tooltip
            tooltipText="Нажмите, чтобы удалить"
            tooltipPos="right"
            class="button button-delete"
            (outClickEmitter)="outDeleteEmitter()"
        >
            Удалить
        </ui-button>
    } @else {
        <div class="checkbox">
            <input
                tuiCheckbox
                type="checkbox"
                size="s"
                [formControl]="statusControl"
            />
        </div>
        <div class="item-text">
            <tui-textfield class="input" tuiTextfieldSize="s" [tuiTextfieldCleaner]="false">
                <input
                    tuiTextfield
                    placeholder="Введите новый заголовок дела..."
                    [formControl]="textControl"
                />
            </tui-textfield>
        </div>
        <ui-button 
            tooltip
            tooltipText="Нажмите, чтобы сохранить изменения"
            tooltipPos="right"
            class="button button-add"
            (outClickEmitter)="outSaveEmitter()"
        >
            Сохранить
        </ui-button>
    }
</div>
