:host(.selected) .item {
    background-color: rgba(46, 255, 255, 0.150);
    border: 1px solid rgb(46, 255, 255);
}

.item {
    height: 35px;
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 0 5px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-top: 1px solid transparent;
    border-bottom: 1px solid rgb(46, 255, 255);
    transition: background-color 0.2s, border 0.2s;
    cursor: pointer;

    &:hover {
        background-color: rgba(46, 255, 255, 0.150);
    }

    &:active {
        background-color: rgba(46, 255, 255, 0.350);
    }

    &-text {
        height: 100%;
        display: flex;
        align-items: center;
    }
}

.input {
    width: 100%;
}

.button {
    width: 25px;
    height: 25px;
}

.checkbox {
    height: 100%;
    display: flex;
    align-items: center;
}
