<div class="item">
    @if (!isEdit) {
        <div class="checkbox">
            <input
                tuiCheckbox
                type="checkbox"
                size="s"
                [formControl]="statusControl"
            />
        </div>
        <div 
            class="item-text"
            [style]="{width: isDelete ? 'calc(100% - 60px)' : 'calc(100% - 30px)'}"
            (click)="outSelecteEmitter()"
            (dblclick)="outEditEmitter()"
        >
            <span [style]="{fontWeight: 600}">{{ item.text }}</span>
        </div>
        @if (isDelete) {
            <ui-button 
                tooltip
                tooltipText="Нажмите, чтобы удалить"
                tooltipPos="right"
                class="button button-delete"
                (outClickEmitter)="outDeleteEmitter()"
            >
                <img src="assets/icons/delete-icon.svg">
            </ui-button>
        }
    } @else {
        <div class="checkbox">
            <input
                tuiCheckbox
                type="checkbox"
                size="s"
                [formControl]="statusControl"
            />
        </div>
        <div class="item-text" [style]="{width: 'calc(100% - 60px)'}">
            <tui-textfield class="input" tuiTextfieldSize="s" [tuiTextfieldCleaner]="false">
                <input
                    tuiTextfield
                    placeholder="Введите новый заголовок дела..."
                    [formControl]="textControl"
                />
            </tui-textfield>
        </div>
        <ui-button 
            tooltip
            tooltipText="Нажмите, чтобы сохранить изменения"
            tooltipPos="right"
            class="button button-add"
            (outClickEmitter)="outSaveEmitter()"
        >
            <img src="assets/icons/assept-icon.svg">
        </ui-button>
    }
</div>
