.item {
    height: 25px;
    margin: 2px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-delete {
    width: 80px;
    height: 100%;
    background-color: #ff8453;
    border-radius: 5px;
    color: white;
    border: 0;


    &:hover {
        background-color: #ff5b1a;
    }

    &:active {
        background-color: #ff9f79; 
    }
}
