<div class="container" [class.container-open]="SelectedId !== null">
    <div class="header">
        <h1>Todo List</h1>
    </div>
    @if (isLoading$ | async) {
        <ui-spinner [inheritColor]="true" />
    } @else {
        <div class="list">
            <div [class.list-body]="SelectedId !== null">
                <div class="filters">
                    <tui-radio-list
                        size="s"
                        [formControl]="statusFilterControl"
                        [items]="statusOptions"
                        [style.flex-direction]="'row'"
                        [style.width]="'max-content'"
                    />
                </div>
                <div class="body">
                    @if ((list$ | async)?.length) {
                        <ul>
                            @for (item of list$ | async; track item.id) {
                                <li>
                                    <to-do-list-item 
                                        tooltip
                                        tooltipText="Нажмите, чтобы посмотреть описание. Нажмите дважды, чтобы редактировать"
                                        tooltipPos="left"
                                        [class.selected]="SelectedId === item.id"
                                        [item]="item"
                                        [isEdit]="SelectedId === item.id && !!(isEdit$ | async)"
                                        (deleteItemEvent)="deleteItem($event)"
                                        (selectItemEvent)="selectItem($event)"
                                        (editItemEvent)="editItem($event)"
                                        (saveItemEvent)="saveItem($event)"
                                        (changeStatusEvent)="changeStatusItem($event)"
                                    />
                                </li>
                            }
                        </ul>
                    } @else {
                        <p>Здесь может быть ваш список дел!</p>
                    }
                </div>
                <div class="footer">
                    <to-do-create-item (addNewItemEvent)="addItem($event)" />
                </div>
            </div>
                <router-outlet></router-outlet>
        </div>
    }
</div>

