:host {
    height: 96vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 400px;
    padding: 5px;
    background-color: #874e8930;
    border: 2px solid #92fbff;
    border-radius: 10px;
    transition: width 0.3s ease-in-out;

    &-open {
        width: 624px;
    }
}

.header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list {
    display: flex;
    flex-direction: row;

    &-body {
        padding-right: 5px;
    }

    &-description {
        width: 210px;
        padding: 5px;
        border-bottom: 1px solid #92fbff;
        border-top: 1px solid #92fbff;
        background-color: rgba(157, 255, 255, 0.250);
    }
}

.body {
    min-height: 53px;
    max-height: 200px;
    width: 400px;
    background-color: rgba(157, 255, 255, 0.250);
    border-bottom: 1px solid #92fbff;
    border-top: 1px solid #92fbff;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    width: 100%;
    margin-block: 5px;
    margin-right: 15px;
    padding-left: 15px;
    list-style-type: none;
}

.footer {
    width: 400px;
}

.edited {
    background-color: rgba(46, 255, 255, 0.150);
    border: 1px solid rgb(46, 255, 255);
    border-radius: 5px;
}

.textarea-edit {
    width: 100%;
    height: 100%;
}

.filters {
    border-top: 1px solid #92fbff;
    background-color: rgba(157, 255, 255, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}
