<div class="container" [class.container-open]="(selectedItemId$ | async) !== null">
    <div class="header">
        <h1>Todo List</h1>
    </div>
    @if (isLoading$ | async) {
        <ui-spinner [inheritColor]="true" />
    } @else {
        <div class="list">
            <div #bodyList [class.list-body]="(selectedItemId$ | async) !== null">
                <div class="filters">
                    <tui-radio-list
                        size="s"
                        [formControl]="statusFilterControl"
                        [items]="statusOptions"
                        [style.flex-direction]="'row'"
                        [style.width]="'max-content'"
                    />
                </div>
                <div class="body">
                    @if ((list$ | async)?.length) {
                        <ul>
                            @for (item of list$ | async; track item.id) {
                                <li>
                                    <to-do-list-item 
                                        tooltip
                                        tooltipText="Нажмите, чтобы посмотреть описание. Нажмите дважды, чтобы редактировать"
                                        tooltipPos="left"
                                        [class.selected]="(selectedItemId$ | async) === item.id"
                                        [item]="item"
                                        [isEdit]="(selectedItemId$ | async) === item.id && !!(isEdit$ | async)"
                                        (deleteItemEvent)="deleteItem($event)"
                                        (selectItemEvent)="selectItem($event)"
                                        (editItemEvent)="editItem($event)"
                                        (saveItemEvent)="saveItem($event)"
                                        (changeStatusEvent)="changeStatusItem($event)"
                                    />
                                </li>
                            }
                        </ul>
                    } @else {
                        <p>Здесь может быть ваш список дел!</p>
                    }
                </div>
                <div class="footer">
                    <to-do-create-item (addNewItemEvent)="addItem($event)"></to-do-create-item>
                </div>
            </div>
            <tui-expand [expanded]="(selectedItemId$ | async) !== null">
                <div class="list-description" [class.edited]="isEdit$ | async" [ngStyle]="{'height.px': height}">
                    @if ((isEdit$ | async) === false) {
                        <tui-scrollbar>
                            <span [style]="{fontWeight: 600}">Описание:</span><br>
                            <span>{{ editedDescription$ | async }}</span>
                        </tui-scrollbar>
                    } @else {
                        <tui-textfield class="textarea-edit" tuiTextfieldSize="m" [tuiTextfieldCleaner]="false">
                            <label tuiLabel>Описание:</label>
                            <textarea
                                tuiTextarea
                                placeholder="Введите новое описание дела..."
                                [formControl]="textareaControl"
                            ></textarea>
                        </tui-textfield>
                    }

                </div>
            </tui-expand>
        </div>
    }
</div>

