.home {
    width: 100vw;
    height: 100vh;
    display: flex;

    &-menu {
        width: 215px;
        padding-left: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    &-content {
        width: calc(100% - 450px);
        padding: 5px;
    }
}

.icon {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.menu {
    width: calc(100% - 10px);
    padding: 5px;
    background-color: rgba(157, 255, 255, 0.300);
    border: 2px solid #92fbff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.menu-item {
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: background-color 0.2s, border 0.2s;

    &-active {
        background-color: rgba(46, 255, 255, 0.150);
        border: 1px solid rgb(46, 255, 255);
        font-weight: 500;
    }

    &:not(.menu-item-active):hover {
        background-color: rgba(46, 255, 255, 0.150);
    }

    &:not(.menu-item-active):active {
        background-color: rgba(46, 255, 255, 0.350);
    }
}
