:host {
    width: calc(50% - 10px);
    height: calc(100% - 10px);
    padding: 5px;
}

.list-description {
    height: calc(100% - 12px);
    padding: 5px;
    border: 1px solid rgb(46, 255, 255);
    border-radius: 5px;
    background-color: rgba(157, 255, 255, 0.250);
}

.textarea-edit {
    width: 100%;
    height: 100%;
}

.edited {
    background-color: rgba(46, 255, 255, 0.150);
    border: 1px solid rgb(46, 255, 255);
    border-radius: 5px;
}

.title {
    font-weight: 600;
}

