<div class="list-description" [class.edited]="isEdit()" >
    @if ((isEdit()) === false) {
        <tui-scrollbar>
            <span class="title">Описание:</span><br>
            <span>{{ selectedItem()?.description }}</span>
        </tui-scrollbar>
    } @else {
        <tui-textfield class="textarea-edit" tuiTextfieldSize="m" [tuiTextfieldCleaner]="false">
            <label tuiLabel>Описание:</label>
            <textarea
                tuiTextarea
                placeholder="Введите новое описание дела..."
                [formControl]="textareaControl"
            ></textarea>
        </tui-textfield>
    }
</div>
