.header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img{
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

h2 {
    padding-right: 30px;
}

form {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.input {
    width: 100%;
    height: 45px;
    margin-bottom: 5px;
}

.textarea {
    width: 100%;
    margin-bottom: 5px;
    height: 90px;
}

.button {
    width: 100px;
    height: 40px;
}
