<div class="header">
    <img class="img" src="assets/icons/create-icon.svg">
    <h2>{{ 'LIBRARY.CREATE_NEW_TO_DO' | translate }}</h2>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <tui-textfield class="input" tuiTextfieldSize="m" [tuiTextfieldCleaner]="true">
        <label tuiLabel for="todoText">{{ 'LIBRARY.NEW_TO_DO' | translate }}</label>
        <input
            tuiTextfield
            id="todoText"
            [placeholder]="'LIBRARY.ENTER_NEW_TO_DO' | translate"
            formControlName="text"
        />
    </tui-textfield>
    <tui-expand [expanded]="!!form.get('text')?.valid && !!form.get('text')?.dirty" [style.width]="'100%'">
        <tui-textfield class="textarea" tuiTextfieldSize="m" [tuiTextfieldCleaner]="true">
            <label tuiLabel for="todoDescription">{{ 'LIBRARY.NEW_TO_DO_DESCRIPTION' | translate }}</label>
            <textarea
                tuiTextarea
                id="todoDescription"
                [placeholder]="'LIBRARY.ENTER_NEW_TO_DO_DESCRIPTION' | translate"
                formControlName="description"
            ></textarea>
        </tui-textfield>
    </tui-expand>
    <ui-button
        class="button button-add"
        type="submit"
        [class.disabled]="form.invalid"
    >
        {{ 'LIBRARY.ADD' | translate }}
    </ui-button>
</form>
