<div class="container">
    <div class="header">
        <img class="img" src="assets/icons/backlog-icon.svg">
        <h2>Backlog</h2>
    </div>
    @if (isLoading()) {
        <ui-spinner [inheritColor]="true" />
    } @else {
        <div class="list">
            <div class="filters">
                <tui-radio-list
                    class="filters-radio"
                    size="s"
                    [formControl]="statusFilterControl"
                    [items]="statusOptions"
                />
            </div>
            <div class="body">
                <div class="body-list">
                    @let list = filteredList();
                    @if (list.length) {
                        <ul>
                            @for (item of list; track item.id) {
                                <li>
                                    <to-do-list-item 
                                        tooltip
                                        tooltipText="Нажмите, чтобы посмотреть описание. Нажмите дважды, чтобы редактировать"
                                        tooltipPos="left"
                                        [class.selected]="SelectedId === item.id"
                                        [item]="item"
                                        [isEdit]="SelectedId === item.id && !!isEdit()"
                                        (deleteItemEvent)="deleteItem($event)"
                                        (selectItemEvent)="selectItem($event)"
                                        (editItemEvent)="editItem($event)"
                                        (saveItemEvent)="saveItem($event)"
                                        (changeStatusEvent)="changeStatusItem($event)"
                                    />
                                </li>
                            }
                        </ul>
                    } @else {
                        <p> {{ NoneToDoText }} </p>
                    }
                    <ui-button
                        tooltip
                        tooltipText="Нажмите, чтобы добавить новое дело"
                        tooltipPos="bottom"
                        class="button button-add"
                        (outClickEmitter)="createItem(template)"
                    >
                        <img src="assets/icons/add-icon.svg">
                    </ui-button>
                </div>
                <router-outlet></router-outlet>
            </div>
        </div>
    }
</div>

<ng-template #template>
    <to-do-create-item />
</ng-template>

